<%= render :partial => 'welcome/header', :locals => { :page => 'Koodikärpät-peli • Projektit • Koodikärpät' } %>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <h1 class="intro-heading">Koodikärpät-peli</h1>
                <div class="intro-lead-in"><span class="kk-font">koodikärpät</span>-projekti</div>
                <a href="#blog" class="page-scroll btn btn-xl">Lue Lisää!</a>
            </div>
        </div>
    </header>

    <!-- Clients Aside -->
    <aside class="clients bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                 	<p class="text-muted project-summary"><i></i></p>
                </div>
            </div>
        </div>
    </aside>

    <!-- Blog Section -->
    <section id="blog">
        <div class="container">
            <div class="row">
            	<div class="col-sm-12"><h2 class="section-heading">Projektiblogi</h2></div>
            </div>
            <div class="row">
                <div class="postwrapper">
                    <div class="col-sm-3 postinfo">
                        <div class="team-member">
                            <img src="assets/koodikarpat.png" class="img-responsive img-circle" alt="Avatar">
                            <h3>Juho Valtavaara</h3>
                            <p class="text-muted">Peliprojektin jäsen</p>
                            <p class="postdate">14:00 09.06.2016</p>
                        </div>
                    </div>
                    <div class="col-sm-9 bg-light-gray postcontent">
                    <h3>Koodikärppä-kesätyö</h3>
                    <p class="text-muted">6 päivä, he eivät ole vieläkään tajunneet etten osaa koodata. Koodikärpissä työskentely on lähtenyt vähitellen käyntiin. Alku oli ainakin minulle tahmeaa Windows 10, kitkerän kahvin , sekä muiden mainitsemattomien seikkojen takia. Lisäksi työskentelyn aloittamista ei helpottanut se, että itse kokemusta koodauksesta minulla ei juuri ollut.</p>

                    <p class="text-muted">Näin ensimmäisen tahmean viikon jälkeen työskentely alkaa olla jo jokseenkin sujuvaa. Koska ratkaisut ongelmiin löytyvät helposti netistä, sujuu itsenäinen harjoittelu varsin hyvin. Lyseon tiloissa ei ole paljoa valittamista, mitä nyt Lidli on liian kaukana. Itse koodaustakin on tullut jonkin verran opittua.</p>

                    <p class="text-muted">Kaiken kaikkiaan työskentely on ollut antoisaa ja opettavaista. Porukka on aivan mahtava ja projektit ihan mielenkiintoisia. Sen verran täytyy valittaa että penkit voisivat olla mukavampia</p>
                    
                    </div>

                </div>
            </div>



            <div class="row">
            	<div class="postwrapper">
	                <div class="col-sm-3 postinfo">
	                    <div class="team-member">
	                    	<img src="assets/koodikarpat.png" class="img-responsive img-circle" alt="Avatar">
	                    	<h3>Juho Valtavaara</h3>
	                    	<p class="text-muted">Peliprojektin jäsen</p>
	                    	<p class="postdate">14:00 09.06.2016</p>
	                    </div>
	                </div>
	                <div class="col-sm-9 bg-light-gray postcontent">
	                <h3>Koodikärppä-kesätyö</h3>
	                <p class="text-muted">Saavuimme kesätöihin koodikärpille kesäloman ensimmäisenä maanantaina. Koulujen loppumisesta huolimatta kaikki tuntuivat virkeiltä ja reippailta, eikä kukaan varmaan enää edes kouluhommia miettinytkään. Moni saapuneista on jo aloittanut opiskelut lukiossa tai vastaavassa, ja moni on vielä kesätyösetelillä töissä. Koodaamaan tultiin oppimaan, mutta työstä saa myös palkkaa.</p>

<p class="text-muted">Aloitimme koodauksen suoraan pelintekijäohjelmistolla Unityllä, jota käytetään laajasti ympäri maailmaa. Unityllä teemme pieniä pelejä, jotta oppisimme koodaamaan. Meille on opetettu asiaa pelien suunnittelusta, tekemisestä ja koodaamisesta. Moni on jo myös kokeillut tehdä peleihin esineitä ja animaatioita esimerkiksi Blenderillä, jolla voi tehdä kolmi- ja kaksiulotteisia esineitä. Päivät menevät nopeasti koodatessa, ja apua saa tarvittaessa.</p>

<p class="text-muted">Projektien edetessä kunnianhimoisemmiksi ovat koodaajat jakautuneet ryhmiin, jotka kaikki tekevät omia projektejaan. Lopulta yrityksenä on sitoa kaikki tiimien tekemät pelit yhteen isommaksi peliksi. Monien tiimien tehdessä yhteistyötä ovat monet saaneet uusia ystäviä ja tutustuneet erilaisiin henkilöihin. Koodauksen edetessä olemme myös oppineet paljon koodauksesta, mutta paljon meillä on vielä opeteltavaa.</p>

<p class="text-muted">Kesätöissä voi olla koko kesän, ja itse aion ehkä tehdä niin. Monilla homma loppuu jo kahden viikon kuluttua kesätyösetelin takia, mutta silloin ensimmäiset askeleet koodaukseen on jo otettu. Nähtäväksi jää, mitä tulemme vielä tekemään. Se tulee varmasti olemaan mielenkiintoista.</p>


	                </div>
	                                        <div class="clearfix"></div>
	            </div>

            </div>
            
        </div>
    </section>
   
<%= render :partial => 'welcome/footer' %>