    <section id="portfolio" class="portfolio bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><% if projectPage == 1 %>Muut projektit<% else %>Projektit<% end %></h2>
                    <h3 class="section-subheading text-muted">Tässä tällä hetkellä työn alla olevia<% if projectPage == 1 %> muita <% else %> <% end %>projekteja</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/koodikarpat_peli" class="portfolio-link addtomenu" data-name="Koodikärpät-peli">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/kk_peli.jpg" class="img-responsive" alt="Koodikärpät-peli">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Koodikärpät-peli</h4>
                        <p class="text-muted">Kokoelma minipelejä</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/java_alkeet" class="portfolio-link addtomenu" data-name="Java-alkeet">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/java_alkeet.jpg" class="img-responsive" alt="Java-alkeet">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Java-alkeet</h4>
                        <p class="text-muted">Ensikosketus Javaan</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/lukkari" class="portfolio-link addtomenu" data-name="Lukkari">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/lukkari.jpg" class="img-responsive" alt="Lukkari">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Lukkari</h4>
                        <p class="text-muted">Älykäs lukujärjestyksensuunnittelutyökalu</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/robootti" class="portfolio-link addtomenu" data-name="Robootti">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/robootti.jpg" class="img-responsive" alt="Robootti">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Robootti</h4>
                        <p class="text-muted">Robotin toimintoja</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/grafiikka" class="portfolio-link addtomenu" data-name="Grafiikka">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/grafiikka.jpg" class="img-responsive" alt="Grafiikka">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Grafiikka</h4>
                        <p class="text-muted">Graafikoiden tuotoksia</p>
                    </div>
                </div>
            </div>
        </div>
    </section>