<%= render 'header', page: 'Koodikärpät' %>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <h1 class="intro-heading kk-font">koodikärpät</h1>
                <div class="intro-lead-in">Tavoitteena innostaa nuoria tekniikan alalle</div>
                <a href="#services" class="page-scroll btn btn-xl">Lue Lisää!</a>
            </div>
        </div>
    </header>


    <!-- Clients Aside -->
    <aside class="clients bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.bittium.com/">
                        <img src="assets/1.png" class="img-responsive img-centered" alt="Bittium">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.nokia.com/fi_fi">
                        <img src="assets/2.png" class="img-responsive img-centered" alt="Nokia">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.symbio.com/fi/">
                        <img src="assets/3.png" class="img-responsive img-centered" alt="Symbio">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                   <a href="http://www.businessoulu.com/">
                        <img src="assets/4.png" class="img-responsive img-centered" alt="Business Oulu">
                    </a>
                </div>
            </div>
        </div>
    </aside>
    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Mikä Koodikärpät</h2>
                    <div class="row">
                        <div class="col-sm-5">
                            <img src="assets/about/bulb.jpg" alt="Bittilamppu" class="about-img">
                        </div>
                        <div class="col-sm-7 text-left">
                            <p>Yhä harvempi nuori suuntautuu tekniikan alalle toiseen asteen opintojen jälkeen, vaikka kiinnostus koodaamiseen ja tekniikkaan on valtava. Koodikärpät-kampanjalla halutaan rohkaista nuoria lähtemään opiskelemaan tekniikkaa antamalla heille ensikosketuksen tekniikan alan töihin.  Kesän 2016 aikana kampanja työllistää Oulussa 15-25 -vuotiaita erilaisiin tekniikan ja ohjelmoinnin projekteihin. Tarkoituksena on pitkäjänteisesti kehittää tekniikan osaamista ja tukea nuoria ensiaskeleissaan tekniikan alalla.</p>
                            <p>Koodikärpät-kampanjan yhteistyökumppaneina toimii Oulun alueen tekniikan alan yrityksiä, jotka tarjoavat rahoitusta ja ehdottavat projekteja nuorten toteutettaviksi. Harjoittelijoiltamme vaadimme ainoastaan omaa innostusta ja kiinnostusta ohjelmointiin. Tehtävien luonne ja haastavuus tulevat vaihtelemaan nuorten osaamisen sekä omien toiveiden mukaan. </p>
                            <p>Etsimme jatkuvasti uusia sponsoreita ja yhteistyökumppaneita! Jos haluat olla mukana tukemassa nuorten kesätyöllistymistä ja Oulun alueen tulevaisuuden tekniikkaosaamista , ota yhteyttä Dan Ackersiin (ackersdan@gmail.com / 044 235 0160)</p>
                            <p>Haemme myös edelleen mukaan tekniikasta kiinnostuneita 15-25 -vuotiaita nuoria. Jos kiinnostuit, täytä hakemus <a href="#contact">täällä</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

<%= render :partial => 'welcome/projects', :locals => { :projectPage => 0 } %>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tarina</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/story/1.png" alt="Alkuhetket">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Maaliskuu-2016</h4>
                                    <h4 class="subheading">Ensiaskeleet</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ajatus Koodikärpät-kampanja syntyy. Tarkoituksena oli tarjota kymmenelle nuorelle mahdollisuus kouluttautua kunnon ohjelmoijiksi. Jotta hanke toteutuisi, mukaan lähdetttin hakemaan lisää ihmisiä.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/huhtikuuuu.png" alt="Uusille urille">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Huhtikuu-2016</h4>
                                    <h4 class="subheading">Uusille urille</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Hanke sai innostuneen vastaanoton ja hyvin pian projekti kasvoi liian suureksi yhden ihmisen vedettäväksi. Lisävahvistusta saatiin Johanneksesta, joka liittyi mukaan hoitamaan projektin markkinointia, myyntiä ja viestintää. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/liittymakohtia.png" alt="Uusille urille">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Toukokuu-2016</h4>
                                    <h4 class="subheading">Liittymäkohtia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nuorten kiinnostus kampanjaan ylitti kaikki odotukset. Hakemuksia saatiin yli 70 ja lopulta mukaan lähti 55 innokasta nuorta työntekijää. Heistä 29 työskentelee kesätyösetelillä.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/story/4.jpg" alt="Palat kohdalleen">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Toukokuu-2016</h4>
                                    <h4 class="subheading">Palat kohdalleen</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Koodikärpät-kampanja on vankalla pohjalla, kiitos yhteistyökumppaneiden ja sponsoreiden. Heiltä on saatu mielenkiintoisia projekti-ideoita nuorten toteutettavaksi. Rahoittajien ansiosta pystytään näillä näkymin kaikille nuorille  maksamaan heidän työpanoksestaan kahden viikon ajalta. Toivottavasti innostus ja oppimisen ilo pitävät nämä ihmiset mukana koko kesän.a vain oppiakseen lisää vaikka meillä ei ole varaa maksaa palkkaa loppuajasta.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/kesakuuma.png" alt="Uusille urille">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Kesäkuu-2016</h4>
                                    <h4 class="subheading">Matka alkaa</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Kampanja polkaistaan käyntiin vauhdilla ja nuoret pääsevät toteuttamaan projekteja, kukin oman kiinnostuksena ja vahvuutensa mukaan. Mukana on upeita nuoria, joilla on aito halu ja innostus tarttua projekteihin. Tällä hetkellä työn alla on esimerkiksi android-sovelluksien ja -pelien, robottipuvun, puheentunnistusjärjestelmän sekä nettisivujen kehittämistä. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Tule sinäkin <br>mukaan rakentamaan <br>tietämme!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tiimi</h2>
                    <h3 class="section-subheading text-muted">Homma lähtee liikkeelle</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="assets/team/1.jpg" class="img-responsive img-circle" alt="Ackers">
                        <h4>Dan Ackers</h4>
                        <p class="text-muted">Hankkeen johtaja</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/feilzi"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/dalund"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/dalund"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="assets/team/3.jpg" class="img-responsive img-circle" alt="Pitkäkoski">
                        <h4>Jukka Pitkäkoski</h4>
                        <p class="text-muted">Graafiikka</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/Jupitz"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/jukka-pitk%C3%A4koski-a5a666119"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Tavoittemme on saada lisää ihmisiä kiinnostumaan tekniikan alasta. Haluamme herättää kiinnostusta näihin hommiin kokemuksen ja oman innostuksen kautta! <br>
                    Kaipaamme myös lisää innokkaita ihmisiä alalle. Ota yhteyttä mikäli haluat mukaan!</p>
                </div>
            </div>
        </div>
    </section>

    
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ota Yhteyttä!</h2>
                    <h3 class="section-subheading text-muted">Vastaamme kaikkiin yhteydenottoihin 24 tunnin sisällä!</h3>
                </div>
            </div>
            <div class="row text-center services-actions">
                <div class="col-md-3 col-xs-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Työnhakijalle</h4>
                    <p class="text-muted">Mikäli haluat paikan huipputiimiimme, valitse tämä.</p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Yhteistyökumppaniksi</h4>
                    <p class="text-muted">Haemme jatkuvasti lisää sponsoreita ja yhteistyökumppaneita!</p>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="col-md-3 col-xs-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ehdota projektia!</h4>
                    <p class="text-muted">Ehdota projektia työpajaamme! Maksat vain mikäli pidät lopputuloksesta.</p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Yleinen</h4>
                    <p class="text-muted">Jos mikään edellä mainituista aiheista ei sovi, valitse tämä.</p>
                </div>
            </div>

            <div class="formrowcontainer">
                <div class="row formrow" style="display:none;">
                    <div class="col-lg-12">
                        <form name="sentMessage" accept-charset="UTF-8" method="post" id="contactForm" novalidate>
                        <input type="hidden" name="contactform[contact_type]" id="contactform_contact_type" value="">
                        <input type="hidden" name="authenticity_token" id="authtoken" value="<%= form_authenticity_token %>">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="contactform[contact_name]" id="contactform_contact_name" class="form-control" placeholder="Nimi" required data-validation-required-message="Ole hyvä ja syötä nimesi.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="contactform[contact_email]" id="contactform_contact_email" class="form-control" placeholder="Sähköpostiosoite" required data-validation-required-message="Ole hyvä ja syötä sähköpostiosoitteesi.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="contactform[contact_phone]" id="contactform_contact_phone" class="form-control" placeholder="Puhelinnumero" required data-validation-required-message="Ole hyvä ja syötä puhelinnumerosi.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea name="contactform[contact_msg]" id="contactform_contact_msg" class="form-control" placeholder="Viesti" required data-validation-required-message="Ole hyvä ja kirjoita viesti."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button name="commit" value="Create Contactform" class="btn btn-xl">Lähetä!
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="visible-xs"></div>
<%= render 'footer' %>
