<%= render :partial => 'welcome/header', :locals => { :page => 'Java-alkeet • Projektit • Koodikärpät' } %>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <h1 class="intro-heading">Java-alkeet</h1>
                <div class="intro-lead-in"><span class="kk-font">koodikärpät</span>-projekti</div>
                <a href="#blog" class="page-scroll btn btn-xl">Lue Lisää!</a>
            </div>
        </div>
    </header>

    <!-- Clients Aside -->
    <aside class="clients bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                 	<p class="text-muted project-summary"><i></i></p>
                </div>
            </div>
        </div>
    </aside>

    <!-- Blog Section -->
    <section id="blog">
        <div class="container">
            <div class="row">
            	<div class="col-sm-12"><h2 class="section-heading">Projektiblogi</h2></div>
            </div>
            <div class="row">
            	<div class="postwrapper">
	                <div class="col-sm-3 postinfo">
	                    <div class="team-member">
	                    	<img src="assets/koodikarpat.png" class="img-responsive img-circle" alt="Avatar">
	                    	<h3>Anonyymi Koodikärppä</h3>
	                    	<p class="text-muted">Java-alkeet-projektin jäsen</p>
	                    	<p class="postdate">14:00 13.06.2016</p>
	                    </div>
	                </div>
	                <div class="col-sm-9 bg-light-gray postcontent">
	                <h3>Fiiliksiä muutamalta päivältä</h3>
	                <p class="text-muted">Olen ollut nyt viikon opiskelemassa koodauksen alkeita. Minulla ei ole kovin suurta kokemusta koodin kirjoittamisesta, mutta olen päässyt hyvin alkuun. Olen ylä­asteella valinnaisessa tietotekniikassa oppinut vähän JavaScrptiä ja myös kotona netissä etsinyt tietoa ohjelmoinnista. Koodikärpät­ohjelman avulla olen kuitenkin oppinut paljon enemmän, kun opiskelumateriaali on selkeä ja hyvin rakennettu. Välillä jos ei ymmärrä jotain asiaa tai ei osaa tehdä jotain tehtävää tuntuu se rasittavalta. Olen jäänyt jumiin muutamiin tehtäviin, mutta olen päässyt niistä yli kysymällä apua.</p> 
	                <p class="text-muted">Matematiikasta on mielestäni paljon hyötyä ohjelmoinnissa. Itse opiskelen pitkää matematiikkaa lukiossa ja se on auttanut minua eri ohjelmointiin liittyvien tehtävien tekemisessä. Looginen ajattelu ja tehtäviin keskittyminen on tärkeää. Tunnelma koulussa on leppoisa. Kaikki ovat ystävällisiä toisilleen. Opiskelu tehdään omaan tahtiin, eikä tehtävien tekemisen kanssa ole kiire. Tärkeintä on, että oppii uutta ja saa kokemusta. Kun alkaa ymmärtämään, miten JavaScript toimii, alkaa ohjelmointi tuntumaan paljon mielenkiintoisemmalta. Ensimmäinen viikko on ollut mukava, mielenkiintoinen ja opiskeluntäyteinen.</p> 
	                <p class="text-muted">Viikko on minussa todellakin herättänyt enemmän mielenkiintoa ohjelmointia ja tekniikka kohtaa.</p>
	                </div>
	                <div class="clearfix"></div>
	            </div>

            </div>
            <div class="row">
            	<div class="postwrapper">
	                <div class="col-sm-3 postinfo">
	                    <div class="team-member">
	                    	<img src="assets/koodikarpat.png" class="img-responsive img-circle" alt="Avatar">
	                    	<h3>Pinja Vierimaa</h3>
	                    	<p class="text-muted">Java-alkeet-projektin jäsen</p>
	                    	<p class="postdate">14:00 09.06.2016</p>
	                    </div>
	                </div>
	                <div class="col-sm-9 bg-light-gray postcontent">
	                <h3>Fiiliksiä muutamalta päivältä</h3>
	                <p class="text-muted">Ensimmäinen päivä oli etukäteen ohjeistettu hyvin, joten oikeaan paikkaan löysi ilman vaikeuksia ja tiesi mitä piti olla mukana ja hieman, minkälaista työtä tultaisiin tekemään. Ensimmäisenä päivänä lähdettiin liikkeelle alkeista ja aloitettiin tehtävien tekeminen. Tehtäviä on monenlaisia ja paljon ja ne tukevat hyvin opetettua teoria-asiaa. Tehtävät ovat tarpeeksi lyhyitä, että niitä jaksaa tehdä useampia samaan putkeen, ja iltapäivästäkin jaksaa vielä hyvin. Työpäivät ovat sopivan pituisia ja joustavalla aikataululla on mukava tulla ja lähteä, kun ajoitukset voi katsoa vähän työn etenemisen ja oman päivän mukaan. 
	                <p class="text-muted">Apua saa tarvittaessa, vaikka lähtökohtaisesti ratkaisut ongelmiin löydetään itse. Kokonaisuudessaan fiilikset ovat positiivisia, koko homma vaikuttaa mielenkiintoiselta ja järjestelyt ovat toimivia. Itse asiakin on sellaista, mitä jaksaisi tehdä jatkossakin.</p>
	                </div>
	                <div class="clearfix"></div>
	            </div>

            </div>
            
        </div>
    </section>
   
<%= render :partial => 'welcome/footer' %>